:host {
  display: block;
  padding: 0 15px;
  margin-top: 65px;
}

input {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.rounded-input {
  border-radius: 5px;
  height: 34px;
  padding-left: 10px;
}

.loading-container {
  margin-top: 25px;  
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  max-height: auto;
  vertical-align: middle;
  border: 2px solid lightgrey;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 15px;
  background: #fff;
}

.flex-item {
  background-color: #fff;
  margin: 10px;
  min-width: 100px;
  vertical-align: middle;
  position: relative;
}

.list-group-item .book-author {
  font-style: italic;
}

.list-group-item .list-group-item-heading {
  font-weight: bold;
}

.list-group-item .list-group-item-text {
  font-size: 13px;
}

.flex-item img {
  width: 128px;
  height: 192px;
}

.book-search-results .list-group-item {
  cursor: pointer;
  text-align: left;
}

.book-search-results .list-group-item:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;  
}

.flex-item .close {
  float: none;
  vertical-align: top;
  margin-left: -20px;
  color: #dc143c;
  opacity: .7;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 1000;
}    