<div class="container">
  <h1 class="text-primary text-center">Your Books</h1>
  
  <div class="row text-center">
    <p>
     Show your books available here.
    </p>
  </div>
  
  <div class="row">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" id="addBook" placeholder="Add a Book">
      </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>  
  </div>
  
  <div class="row">
    <div class="flex-container">
      <div class="flex-item">flex item 1</div>
      <div class="flex-item">flex item 2</div>
      <div class="flex-item">flex item 3</div> 
      <div class="flex-item">flex item 4</div>
      <div class="flex-item">flex item 5</div>
      <div class="flex-item">flex item 6</div>
      <div class="flex-item">flex item 7</div>
      <div class="flex-item">flex item 8</div>
    </div> 
  </div>
  
</div>