<div class="container">
  <h2 class="current-books-title text-center">Trades</h2>
  
  <div class="row text-center">
    <p>* Click on a trade to contact the person involved</p>
  </div>
  
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Your Trade Requests</div>
        <div class="panel-body">
          <div class="list-group">
            <button *ngFor="let trade of yourTradeDetails; let i = index;" class="list-group-item" type="button" class="list-group-item" (click)="loadRequestDetails(trade, 'receiving')">
              <span class="trade-book-title">{{ trade.book.name }}</span> - Requested On: {{ trade.trade.date }}
            </button>
          </div>
        </div>
      </div>      
    </div>    
    
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Trades Offered to You</div>
        <div class="panel-body">
          <div class="list-group">
            <button *ngFor="let trade of othersTradeDetails; let i = index;" class="list-group-item" type="button" class="list-group-item" (click)="loadRequestDetails(trade, 'sending')">
              <span class="trade-book-title">{{ trade.book.name }}</span> - Requested On: {{ trade.trade.date }}
            </button>
          </div>
        </div>
      </div>      
    </div>
    
  </div>
  
  <hr>
  
  <div *ngIf="tradeDetailsClicked" class="row">
    <h2 class="current-books-title text-center">Trade Details</h2>
    
    <div class="trade-details">
        <div *ngIf="youRequestedCurrentTrade">
            <p>You have requested to trade {{ currentTradeDetails.book.name }}. Send them a message about this trade.</p>
        </div>
        
        <div *ngIf="otherRequestedCurrentTrade">
            <p>Somebody wants to trade {{ currentTradeDetails.book.name }}. Click on one of their books to propose a trade or send them a message about this trade.</p>
            
            <p>
                <b>SHOW USERS BOOKS HERE.</b> 
                This way you can just choose one of their books and click a process trade button. This will swap the owners of the book and send message to the other user 
                letting them know the trade has been accepted and you need to set up an arrangment to make the trade.
            </p>            
        </div>        
        
        <br><br>
        
        <h2 class="text-center">Send a Message Regarding Trade</h2>
        
        <form>
          <div class="form-group">
            <label for="messageTitle">Title</label>
            <input type="text" [(ngModel)]="currentMessage.title" [ngModelOptions]="{standalone: true}" class="form-control" id="messageTitle" placeholder="Message Title">
          </div>
          <div class="form-group">
            <label for="messageBody">Message</label>
            <textarea class="form-control" [(ngModel)]="currentMessage.message" [ngModelOptions]="{standalone: true}" id="messageBody" placeholder="Message Body" rows="3"></textarea>
          </div>          
          <button (click)="sendMessage()" type="submit" class="btn btn-primary">Send Message</button>
        </form>     
        
        <div *ngIf="actionResultText !== ''">
            {{ actionResultText }}
        </div>
        
        <p>Send a message to the user with userId in book object.</p>
        
        currentTradeDetails: <pre>{{ currentTradeDetails | json }}</pre>
    </div>
  </div>
</div>      