<div class="container">
  <h2 class="current-books-title text-center">Trades</h2>
  
  <div class="row text-center">
    <p>* Click on a trade to contact the person involved</p>
  </div>
  
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-info">
        <div class="panel-heading">Books You Want From Others</div>
        <div class="panel-body">
          <div class="list-group">
            <button *ngFor="let trade of yourTradeDetails; let i = index;" class="list-group-item" type="button" class="list-group-item" (click)="loadRequestDetails(trade, 'receiving')">
              <span class="trade-book-title">{{ trade.book.name }}</span> - Requested On: {{ trade.trade.date }}
            </button>
          </div>
        </div>
      </div>      
    </div>    
    
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">Books Others Want From You</div>
        <div class="panel-body">
          <div class="list-group">
            <button *ngFor="let trade of othersTradeDetails; let i = index;" class="list-group-item" type="button" class="list-group-item" (click)="loadRequestDetails(trade, 'sending')">
              <span class="trade-book-title">{{ trade.book.name }}</span> - Requested On: {{ trade.trade.date }}
            </button>
          </div>
        </div>
      </div>      
    </div>
    
  </div>
  
  <hr>
  
  <div *ngIf="tradeDetailsClicked" class="row">
    <h2 class="current-books-title text-center">Trade Details</h2>
    
    <div class="trade-details">
        <div *ngIf="youRequestedCurrentTrade" class="text-center">
            <p>Send this user a message about the book you have requested titled: {{ currentTradeDetails.book.name }}</p>
            
            <div *ngIf="tradeHasCounterTrade">
                <h1 class="danger">There is an offer for this trade.</h1>
                
                <p>
                    You would receive: <span class="bold">{{ currentTradeDetails.book.name }}</span><br>
                    You would give them: <span class="bold">{{ counterTradeBook.name }}</span>
                </p>     
                
                <div class="row">
                    <button type="button" (click)="finalizeTrade()" class="btn btn-success btn-lg btn-block">Finalize Trade</button>
                    <button type="button" (click)="deleteTrade()" class="btn btn-danger btn-lg btn-block">Decline Trade</button>
                </div>                
            </div>
        </div>
        
        <div *ngIf="otherRequestedCurrentTrade" class="text-center">
            <p>A trade has been proposed for: <span class="bold">{{ currentTradeDetails.book.name }}</span>.</p>
            <p>Here are this users books that you can choose from.</p>
            <p>Click on <span class="glyphicon glyphicon-random" aria-hidden="true"></span> to complete the trade. You may also choose to send them a message.</p>
            
            <p>
                <b>SHOW USERS BOOKS HERE.</b> 
                This way you can just choose one of their books and click a process trade button. This will swap the owners of the book and send message to the other user 
                letting them know the trade has been accepted and you need to set up an arrangment to make the trade.
            </p>  
            
            <div class="row">
                <div class="flex-container">
                  
                  <div *ngFor="let book of usersBooks; let i = index;" class="flex-item">
                    <img src="{{ book.thumbnail }}" class="img-responsive">
                    <button type="button" class="trade" (click)="proposeBookTrade(book)"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
                  </div>
                  
                </div> 
            </div>
            
            <div *ngIf="tradeToRequest" class="row">
                <p>
                    You would accept the offer to trade your book titled <span class="bold">{{ currentTradeDetails.book.name }}</span> in return for their book titled 
                    <span class="bold">{{ bookToAcceptTrade.name }}</span>
                </p>
            </div>            
            
            <div *ngIf="tradeToRequest" class="row">
                <button type="button" (click)="acceptTrade()" class="btn btn-success btn-lg btn-block">Accept Trade</button>
            </div>
            
            <div class="row">
                <button type="button" (click)="deleteTrade()" class="btn btn-danger btn-lg btn-block">Decline Trade</button>
            </div>
          
        </div>        
        
        <br><br>
        
        <h2 class="text-center">Send a Message Regarding Trade</h2>
        
        <form>
          <div class="form-group">
            <label for="messageTitle">Title</label>
            <input type="text" [(ngModel)]="currentMessage.title" [ngModelOptions]="{standalone: true}" class="form-control" id="messageTitle" placeholder="Message Title">
          </div>
          <div class="form-group">
            <label for="messageBody">Message</label>
            <textarea class="form-control" [(ngModel)]="currentMessage.message" [ngModelOptions]="{standalone: true}" id="messageBody" placeholder="Message Body" rows="3"></textarea>
          </div>          
          <button (click)="sendMessage()" type="submit" class="btn btn-primary">Send Message</button>
        </form>     
        
        <div *ngIf="actionResultText !== ''">
            {{ actionResultText }}
        </div>
        
        <p>Send a message to the user with userId in book object.</p>
        
        currentTradeDetails: <pre>{{ currentTradeDetails | json }}</pre>
    </div>
  </div>
</div>      