<div class="container">
  
  <div class="row">
    <h2 class="current-books-title text-center">Books You Don't Own</h2>
    <div *ngIf="isLoggedIn" class="text-center">Click <span class="glyphicon glyphicon-random" aria-hidden="true"></span> to request a trade.</div>
    <div *ngIf="!isLoggedIn" class="text-center"><a [routerLink]="['/login']">Login</a> to request a trade.</div>
    
    <div class="flex-container">
      
      <div *ngFor="let book of allBooks; let i = index;" class="flex-item">
        <img src="{{ book.thumbnail }}" class="img-responsive">
        <button *ngIf="isLoggedIn" type="button" class="request" (click)="requestBook(book)"><span class="glyphicon glyphicon-random" aria-hidden="true"></span></button>
      </div>
      
    </div> 
  </div>  
  
  
</div>