<div class="container">
  <h1 class="text-primary text-center">Available Books</h1>
  
  <div class="row text-center">
    <p>
     Show books available for all users here. Use flexbox
    </p>
  </div>
  
  <div class="flex-container">
    <div class="flex-item">flex item 1</div>
    <div class="flex-item">flex item 2</div>
    <div class="flex-item">flex item 3</div> 
    <div class="flex-item">flex item 4</div>
    <div class="flex-item">flex item 5</div>
    <div class="flex-item">flex item 6</div>
    <div class="flex-item">flex item 7</div>
    <div class="flex-item">flex item 8</div>
    <div class="flex-item">flex item 9</div> 
    <div class="flex-item">flex item 10</div>
    <div class="flex-item">flex item 11</div>
    <div class="flex-item">flex item 12</div>
    <div class="flex-item">flex item 13</div>
    <div class="flex-item">flex item 14</div>    
  </div>  
  
</div>