<div class="container">
  <h1 class="text-center">Your Account Details</h1>
  
  <div *ngIf="updateMessage !== ''" class="success">
    {{ updateMessage }}
  </div>
  
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="user.firstname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="firstName" placeholder="First name">
    </div>
    
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="user.lastname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="lastName" placeholder="Last name">
    </div>
    
    <div class="form-group">
      <label for="city">City</label>
      <input [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="city" placeholder="City">
    </div>
    
    <div class="form-group">
      <label for="state">State</label>
      <input [(ngModel)]="user.state" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="state" placeholder="State">
    </div>    

    <button (click)="updateAccount()" type="button" class="btn btn-primary">Update Account</button>
  </form>
  
</div>